@model _191_MOMENT_3.Models.GuestbookModel
@{
    ViewData["Title"] = "Add post";
}

<h2>Add posts</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <br />
    <label asp-for="Message"></label>
    <textarea asp-for="Message"></textarea>
    <br />
    <input type="submit" value="Add post" />
</form>